/*Made by Tibor Peter Szabo*/
#mainPanel{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
#mainPanel p{
    background-color: rgb(60, 60, 60);
    font-size: 3dvh;
    margin-top: 1px;
    margin-bottom: 1px;
    height: auto;
    width: 100%;
    border: 1px solid lightgray;
}